[submodule "3rd-party/GLFW"]
	path = 3rd-party/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "3rd-party/glm"]
	path = 3rd-party/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rd-party/assimp"]
	path = 3rd-party/assimp
	url = https://github.com/assimp/assimp.git
[submodule "3rd-party/imgui"]
	path = 3rd-party/imgui
	url = https://github.com/ocornut/imgui.git
